@font-face {
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 400;
      src:
      url('../fonts/barlow-v5-latin-ext_latin-regular.woff2') format('woff2'),
      url('../fonts/barlow-v5-latin-ext_latin-regular.woff') format('woff');
}
@font-face {
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 700;
      src:
      url('../fonts/barlow-v5-latin-ext_latin-700.woff2') format('woff2'),
      url('../fonts/barlow-v5-latin-ext_latin-700.woff') format('woff');
}
@font-face {
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 900;
      src:
      url('../fonts/barlow-v5-latin-ext_latin-900.woff2') format('woff2'),
      url('../fonts/barlow-v5-latin-ext_latin-900.woff') format('woff');
}


@font-face {
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 400;
      src:
      url('../fonts/fraunces-v10-latin-ext_latin-regular.woff2') format('woff2'),
      url('../fonts/fraunces-v10-latin-ext_latin-regular.woff') format('woff');
}
@font-face {
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      src: local(''),
      url('../fonts/fraunces-v10-latin-ext_latin-900.woff2') format('woff2'),
      url('../fonts/fraunces-v10-latin-ext_latin-900.woff') format('woff');
}



*{
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
}

.visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      border: 0;
      clip: rect(0 0 0 0)
}


body{
      margin: 0;
      padding: 0;
      font-family: 'Barlow' ,'Arial' , sans-serif;
}


.img{
      vertical-align: middle;
      -o-object-fit: cover;
      object-fit: cover;
}

/* ============================HEADER============================== */

.container{
      width: 1320px;
      padding-right: 20px;
      padding-left: 20px;
      margin-right:  auto;
      margin-left:  auto;
}

.intro{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 44px;
      margin-bottom: 44px;
}

.intro__link{
      text-decoration: none;
      margin-right: 781px;
}

.intro__img{
      width: 236px;
      height: 26px;
}

.menu__item{
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
}

.menu__list{
      margin-right: 33px;
}

.menu__list:nth-child(3){
      margin: 0;
}

.menu__link{
      text-decoration: none;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: #83888F;
}

.menu__link:hover{
      color: black;
}

/* =====================MAIN===================== */

.main{
      padding:116px 85px ;
      background-image: url('../images/Bitmap-1vg.svg');
      background-size: 1290px 595px ;
      background-repeat: no-repeat;
      background-position: calc(50% - 5px);
      border-radius: 20px;
      margin-bottom: 118px;
}

.main__titl{
      margin: 0;
      font-family: Fraunces ;
      font-style: normal;
      font-weight: 900;
      font-size: 72px;
      line-height: 72px;
      color: #FEFCF7;
      width: 553px;
      margin-bottom: 38px;
}

.main__great{
      text-decoration: none;
}

.main__text{
      margin: 0;
      font-size: 16px;
      line-height: 26px;
      color: #FEFCF7;
      width: 445px;
      margin-bottom: 56px;
}

.main__link{
      font-family: Fraunces ;
      font-weight: 900;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      text-decoration: none;
      color: #FEFCF7;
      width: 217px;
      height: 56px;
      padding: 16px 31px;
      background: #0E8784;
      border-radius: 6px;
}

.main__link:hover{
      background: #66D2CF;
}

/* =====================section==================== */

.type{
      margin-bottom: 188px;

}

.type__section{
      background-image: url('../images/Group-5.svg');
      background-repeat: no-repeat;
      background-size: 1111px ;
      background-position: calc(50% + 0px) calc(10% - 30px);
      padding-top: 126px;
}

.type__item{
      margin: 0;
      padding: 0;
      list-style: none;
      padding: 0px 110px;
      display: flex;
      margin: 0 auto;
}

.type__list{
      list-style: none;
      width: 255px;
      height: 398px;
      text-align: center;
      margin-right: 30px;
}

.type__list:nth-child(4){
      margin-right: 0;
}

.type__img{
      margin-bottom: 71px;
}

.type__gran{
      text-decoration: none;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      color: #333D4B;
}

.type__text{
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #333D4B;
}


/* =======================section====================== */

.middili{
      margin-bottom: 200px;
}

.middili__box{
      position: relative;
      background-color:#272E37;
      width: 1280px;
      height: 577px;
      border-radius: 10px;
      margin-bottom: 200px;
}

.middil__titl{
      text-decoration: none;
      padding-top: 100px;
      margin: 0;
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      color: #FEFCF7;
      margin-bottom: 22px;
}

.middil__text{
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      margin: 0 auto;
      color: #FEFCF7;
      width: 540px;
      margin-bottom: 86px;
}

.type__item--size{
      z-index: +1;
      display: flex;
      text-align: center;
      padding: 0px 110px;
      margin: 0 auto;
}

.type__list--size{
      width: 350px;
      height: 382px;
      background-color: #0E8784;
      border-radius: 8px;
      padding: 78px 48px 48px;
      text-align: center;
      list-style: none;
      margin-right: 30px;
}

.type__list--size:nth-child(3){
      margin-right: 0;
}

.type__img--location{
      width: 72px;
      height: 72px;
      margin-bottom: 47px;
}

.type__link{
      text-decoration: none;
      color: #FEFCF7;
      margin-bottom: 22px;
}

.type__text--color{
      color: #FEFCF7;
}

/* =====================section========================= */

.services__section{
      margin-bottom: 200px;
}

.services{
      padding: 0px 110px;
      margin: 0 auto;
}

.sevices__box{
      display: flex;
      margin-bottom: 67px;
      align-items: center;
}

.sevices__works{
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      color: #83888F;
      margin-bottom: 80px;
}

.services__how{
      text-decoration: none;
}

.services__circle{
      display: block;
      width: 31px;
      height: 31px;
      background: #FEFCF7;
      border: 2px solid #0E8784;
      border-radius: 50%;
}

.services__line{
      display: block;
      width: 300px;
      height: 2px;
      border-bottom: 2px solid #FDD6BA;
}

.type__item--location{
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 67px;
}

.type__list--location{
      width: 285px;
      margin-right: 95px;
}

.type__img--location{
      width: 90px;
      height: 72px;
}

.type__titl--location{
      margin: 0;
      font-weight: 900;
      font-size: 32px;
      line-height: 36px;
      color: #333D4B;
      margin-bottom: 48px;
}

.services__link{
      text-decoration: none;
}

.type__text--location{
      margin: 0;
      font-size: 16px;
      line-height: 26px;
      color: #333D4B;
      width: 285px;
}

.main__link--location{
      margin-bottom: 200px;
}

/* =====================footer============== */

.intro--traps{
      width: 1280px;
      height: 125px;
      background: #2C343E;
      padding: 85px 47px;
      display: flex;
      align-items: center;
      margin-bottom: 135px;
}

.intro__link--location{
      margin-right: 103px;
      text-decoration: none;
}

.menu__item--location{
      list-style: none;
      display: flex;
      margin: 0;
      margin-right: 329px;
}

.menu__list--location{
      margin-right: 33px;
}

.menu__link--location{
      text-decoration: none;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.923077px;
      text-transform: uppercase;
      color: #83888F;
}

.menu__link--location:hover{
      color: #FEFCF7;
}

.tran__link{
      text-decoration: none;
}

.trans__img{
      width: 24px;
      height: 24px;
      margin-right: 24px;
}

.trans__img:hover{
      background-color: #FDD6BA;
}

/* ====================index.html-2====================== */

.wrap{
      padding:116px 85px ;
      background-image: url('../images/Bitmapғ31.svg');
      background-size: 1280px 450px ;
      background-repeat: no-repeat;
      background-position: calc(50% + 2px);
      border-radius: 20px;
      margin-bottom: 85px;
}

.commitment{
      padding-top: 85px;
      margin-bottom: 125px;
      width: 1110px;
      margin: 0 auto;
}


.commitment__box{
      display: flex;
      align-items: center;
      margin-bottom: 125px;
}

.commitment__img{
      margin-right: 125px;
}

.commitment__our{
      vertical-align: middle;
}

.commitment__link{
      text-decoration: none;
      font-family: Fraunces;
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      color: #333D4B;
}

.commitment__text{
      font-size: 16px;
      line-height: 26px;
      color: #333D4B;
      mix-blend-mode: normal;
      opacity: 0.8;
      width: 540px;
}

/* ========================section===================== */

.commitment--location{
      padding-top: 85px;
      margin-bottom: 85px;
}

.commitment__box--location{
      display: flex;
      background-color:#293039;
      width: 1280px;
      height: 474px;
      position: relative;
      border-radius: 20px;
      display: flex;
      flex-direction: row-reverse;
      margin-right: 148px;
}

.commitment__img--location{
      bottom: 100px;
      position: absolute;
      z-index: +1;
      right: 85px;
}

.commitment__our--location{
      width: 540px;
      position: absolute;
      top: 100px;
      right: 650px;
}

.commitment__quality{
      text-decoration: none;
      margin: 0;
      margin-bottom: 32px;
      font-family: Fraunces;
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      color: #FEFCF7;
}

.commitment__text--location{
      margin: 0;
      font-size: 16px;
      line-height: 26px;
      color: #FEFCF7;
      mix-blend-mode: normal;
      opacity: 0.8;
      width: 540px;
}

.type__text--location--white{
      width: 115px;
      font-size: 16px;
      line-height: 26px;
      color: #333D4B;
     text-align: calc(50% + 100px);
}